---
development:
  default_url_options:
    host: localhost:3000
  delivery_method: smtp
  smtp_settings:
    address: localhost
    port: 1025

test:
  default_url_options:
    host: metacast.test
  delivery_method: test
